<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hack UI</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="css/main.css">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    {% block body %}
    {% endblock %}
    {% block scripts %}
    <script type="text/javascript" src="scripts/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="scripts/main.js"></script>
    {% endblock %}
  </body>
</html>
