input[type="submit"] {
  padding: .5rem;
  font-size: 90%;
  background-color: $nhs-blue;
  color: $white;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-right: 5rem;
  margin-top: 2rem;
}

.expo-form {
  margin-bottom: 5rem;
}
